{% extends 'base.html' %}

{% block title %}livro de Livros{% endblock %}

{% block content %}

<div class="container">
    <h1>lista de Livros</h1>
        <div class="row">
    
                    {% for livro in livro %}
                        <div class="col">
                            <p>{{ livro.nome }}</p>
                            <a class="btn btn-success" href="{% url 'addfav' livro.id %}">Salvar</a>
                                <a class="btn btn-success" href="{% url 'livroview' livro.id %}">Detalhe</a>
                    
                            </div>
                    {% endfor %}
            </div>
            <div class="pagination">
                <span class="step-links">
                    {% if  livro.has_previous %}
                        <a href="?page={{ livro.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
                    {% endif %}
        
                    {% if  livro.paginator.num_pages %}
                    <span class="current">
                        {{  livro.number }} de {{  livro.paginator.num_pages }}
                    </span>
                    {% endif %}
        
                    {% if livro.has_next %}
                        <a href="?page={{ livro.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
                    {% endif %}
                </span>
            </div>
        </div> 
{% endblock %}